h1{
    color: rgb(230, 194, 230);
    background-color: rgb(92, 176, 232);
}

h2{
    color: rgb(237, 155, 237);
    background-color: rgb(78, 168, 228);
}
h3{
    color: rgb(239, 132, 239);
    background-color: rgb(63, 161, 226);
}